body {
font-family: Verdana, Arial, Helvetica, sans-serif;
color:#666666;
margin:0;
padding:0;
}

#topButton {
    margin: 32px auto 16px;
    
}

.main-buttons{
margin: 34px auto 16px;
padding: 30px 20px;
width:60%;
background-color:#527F92;
color: #fff;
}

.name p {
text-align: center;
font-size: 120%;
margin: 5px 0px 2px;
}


@media (max-width: 768px) { 
.main-buttons {
    width: 94%;
    padding: 20px 10px;
    margin: 24px auto 12px;
}
}


