.first{

margin-top:50px;
margin-bottom:20px;
margin-left: 250px;
margin-right:250px;
padding: 30px 20px 30px 20px;
width:60%;
}

.second {
	margin-top:40px;
margin-bottom:20px;
margin-left: 250px;
margin-right:250px;
padding: 30px 20px 30px 20px;
width:60%;
}

.third {
margin-top:40px;
margin-bottom:20px;
margin-left: 250px;
margin-right:250px;
padding: 30px 20px 30px 20px;
width:60%;
}

.fourth{
margin-top:40px;
margin-bottom:20px;
margin-left: 250px;
margin-right:250px;
padding: 30px 20px 30px 20px;
width:60%;
}
