.namee p {

	 text-align: center;
	 font-size: 110%;
	 margin: 25px 0px 20px 0px;
}

.al{
  text-align: right;
   
}

.ab{
 text-align: left;
 
}
.distance{
	margin-top:12px;
	margin-bottom: 12px;
}

