<<<<<<< HEAD
=======

>>>>>>> fff885d75e1ed69d184fbf9d182aaf7b92b58ffc
.whole {
font-family: Verdana, Arial, Helvetica, sans-serif;	

}

.top p {
	margin:7px 5px 2px -10px;
	padding:7px 5px 2px 10px;
	text-align: center;

}

.name p {

	 text-align: center;
	 font-size: 140%;
	 margin: 5px 0px 20px 0px;
}

.button {

  margin:20px 0px 50px 0px;
  border-radius: 55px;
}