body {
font-family: Verdana, Arial, Helvetica, sans-serif;
color:#666666;
margin:0;
padding:0;
}


.top{
	background-color:#983222;
}


.top p {
	
	margin: 25px 0px;
	text-align: left;
	color:white;
	font-size: 105%;
	

}

.rows {
	
	padding:19px 0px 19px;
	text-align: left;
	background-color:#983222;

}

.row-odd{
	background-color:#fff;
}

.row-even{
	background-color:#E7E7C1;
}

.status {
	text-align: center;
}

.name {
	border-bottom: 5px solid #6c4d23;
}
.name p {

	 text-align: center;
	 font-size: 110%;
	 margin: 5px 0px 15px 0px;
	
}


/*
.navbarPadding {
padding-top: 70px;
}*/

.button {
	
  margin:50px 0px 60px 0px;
  padding:20px 0px;
  background-color:#527F92;
  color: #fff;
}

a:focus, a:hover {
    color: #fff;
    text-decoration: none;
}


@media (max-width: 768px) { 

.name p {

	 text-align: center;
	 font-size: 97%;
	 margin: 9px 0px 7px 0px;
}


/*
.navbarPadding {
padding-top: 50px;
}
*/
	
.button {
	
  margin:35px 0px 45px 0px;
  padding:16px 0px;
  
 
}
	
	
.top p {
	margin: 23px 0px;
	font-size: 95%;
}
.rows {
	font-size:94%;
}
}