body {
font-family: Verdana, Arial, Helvetica, sans-serif;
color:#666666;
margin:0;
padding:0;
}
/*
.navbarPadding {
padding-top: 95px;
}*/

.name {
	border-bottom: 5px solid #6c4d23;
}
.name p {
text-align: center;
font-size: 100%;
margin: 2px 0px 10px;
}

.name2 {
text-align:center;
font-size:100%;
margin: 10px 0px 2px;
}

.search-option {
	margin: 18px 0px 9px;
}

.search-button {
	
  width:25%;
  padding:14px 0px;
  background-color:#527F92;
  color: #fff;
  margin: 7px auto 28px;
  font-size: 140%;
}



.top{
	background-color:#983222;
}

.top p {
	
	margin: 20px 0px;
	text-align: center;
	color:white;
	font-size: 110%;
	
}

.row-odd{
	background-color:#fff;
		padding:12px 0px 12px;
	text-align: center;
}

.row-even{
	background-color:#E7E7C1;
		padding:12px 0px 12px;
	text-align: center;
}

@media (max-width: 768px) { 
	.name p {
text-align: center;
font-size: 86%;
margin: 1px 0px 1px;
}

.name2 {
text-align:center;
font-size:96%;
margin: 1px 0px 1px;
}

.search-option {
	margin: 1px 0px 1px;
}

.status {
		margin: 1px 0px 1px;
		
}

.date1 {
		margin: 1px 0px 1px;
}

.date2 {
		margin: 1px 0px 1px;
}

.search-button {
	
  width:25%;
  padding:2px 0px;
  background-color:#527F92;
  color: #fff;
  margin: 1px auto 7px;
  font-size: 100%;
}

	
	
	
.top p {
	
	margin: 15px 0px;
	text-align: center;
	font-size: 90%;
	
}

.row-odd{
	background-color:#fff;
		padding:2px 0px 2px;
	text-align: left;
	font-size: 90%;
}

.row-even{
	background-color:#E7E7C1;
		padding:2px 0px 2px;
	text-align: left;
	font-size: 90%;
}

.search-button {
	
  width:45%;
  padding:10px 0px;
  margin: 7px auto 28px;
  
}
/*
.navbarPadding {
padding-top: 66px;
}*/

}