#title-for-page {
    text-align: center;
}

#search {
    width: 440px;
    margin: 0 auto;
    }
    
#blue-list {
    background-color: #d5e2e7;
}

#white-list {
    background-color: ##eleace;
    }

#head-of-table {
    background-color: #527F92;
}