body {
font-family: Verdana, Arial, Helvetica, sans-serif;
color:#666666;
margin:0;
padding:0;
}

.name p {

	 text-align: center;
	 font-size: 120%;
	 margin: 12px 0px 10px 0px;
}

.aprove p {

	 text-align: center;

}


.name {
	border-bottom: 5px solid #6c4d23;
}


.info  {

	text-align: center;
	 font-size: 120%;
	 margin-top:30px;
	 margin-bottom:15px;
	 background-color:#983222;
	 color:#fff;
	 padding: 10px 0px;
}

.radio-inline p {
	margin-right: 105px;
	 /*text-align: center;*/
	
}


.info p {
	margin-top: 10px;
}



.fields {

	 margin-top:25px;
	 margin-bottom:25px;
	 
}


/*
.dates {
	
	 margin-top:25px;
	 margin-bottom:25px;
	 
}
	 
	 
.ad {

	  margin-top:25px;
	 margin-bottom:25px;
}


.benefits {
 margin-top:25px;
	 margin-bottom:25px;
}


.vendor {
	 margin-top:25px;
	 margin-bottom:25px;
}

.zip {
	  margin-top:25px;
	 margin-bottom:25px;
}

*/
.navbarPadding {
padding-top: 70px;
}
.send {
	
  width:45%;
  padding:15px 0px;
  background-color:#527F92;
  color: #fff;
  margin:3px 0px 50px;
  font-size: 160%
}


@media (max-width: 768px) { 
.name p {
	 font-size: 110%;
	 margin: 4px 0px 6px 0px;
}

.aprove p {
	font-size:90%;
}
	

.info  {
	 font-size: 100%;
	 margin-top:7px;
	 margin-bottom:7px;
	 padding: 6px 0px;
}	

.radio-inline p {
	margin-right: 8px;
}



.marginTop2{
	margin-top:16px;
}


.send {
width:75%;
padding:19px 0px;
font-size:100%;
margin: 2px auto 40px;
}

}




