body {
font-family: Verdana, Arial, Helvetica, sans-serif;
color:#666666;
margin:0;
padding:50px;
}

.name p {

	 text-align: center;
	 font-size: 120%;
	 margin: 25px 0px 10px 0px;
}

.aprove p {

	 text-align: center;

}


.name {
	border-bottom: 5px solid #6c4d23;
}


.info  {

	text-align: center;
	 font-size: 120%;
	 margin-top:50px;
	 margin-bottom:25px;
	 background-color:#983222;
	 color:#fff;
	 padding: 18px 0px;
}

.radio-inline p {
	margin-right: 105px;
	 /*text-align: center;*/
	
}


.info p {
	margin-top: 10px;
}



.fields {

	 margin-top:25px;
	 margin-bottom:25px;
	 
}


/*
.dates {
	
	 margin-top:25px;
	 margin-bottom:25px;
	 
}
	 
	 
.ad {

	  margin-top:25px;
	 margin-bottom:25px;
}


.benefits {
 margin-top:25px;
	 margin-bottom:25px;
}


.vendor {
	 margin-top:25px;
	 margin-bottom:25px;
}

.zip {
	  margin-top:25px;
	 margin-bottom:25px;
}

*/

.send {
	
  width:45%;
  padding:15px 0px;
  background-color:#527F92;
  color: #fff;
  margin:3px 0px 50px;
  font-size: 160%
}


@media (max-width: 768px) { 
	.radio-inline p {
	margin-right: 9px;
}

.send {
width:40%;
padding:10px 0px;
font-size:80%;
margin: 2px 0px 20px;
}

}




